@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* START HERE */
body {
  background-color: #ccc;
}

section {
  width: 100%;
  padding: 0 3rem;
}

.container {
  max-width: 60rem;
  margin: 5rem auto;
}

.add-item {
  background-color: var(--color-primary);
  padding: 5rem 0;
  margin: 2rem auto;
  border-radius: 5px;
}

.add-item form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-item form input {
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  color: var(--grey);
  width: 75%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  outline: none;
  background-color: transparent;
  margin-right: 5px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

form button {
  width: 10%;
  font-size: 1.6rem;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  background-color: var(--color-sec);
  color: var(--grey);
  padding: 1rem;
  cursor: pointer;
}

h2 {
  font-size: 2rem;
  color: var(--color-sec);
  margin-bottom: 1rem;
}

ol li {
  font-size: 1.6rem;
  margin: 5px 0;
  background-color: var(--grey);
  border-radius: 5px;
  padding: 1rem;
  position: relative;
}

ol li:nth-child(odd) {
  background-color: #321f28;
  color: var(--white);
}

li button {
  font-size: 1.6rem;
  color: red;
  background-color: transparent;
  outline: none;
  border: none;
  position: absolute;
  right: 1rem;
  top: 1.2rem;
  cursor: pointer;
}

.clear {
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
}
